 form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;

    label {
      display: none;
    }

    input {
      padding: 13px;
      margin-top: 20px;
      border-radius: 16px;

      &:last-child {
      margin-top: 40px;
      }
    }
  }